.reports_bg {
   background-image: url(../../../../assets/Img/salon/reportsbg.png) !important;
   background-size: 100% !important;
   background-repeat: no-repeat !important;
   background-position: right !important;
   
 }