.salon-reset-password {
    background-image: url(../../../../assets/Img/salon/salonbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 120px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }