
  .btn_delete_icon {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: var(--colorRed);
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .images_container_upload {
    max-height: 215px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .btn_delete_icon.btnBgBlack {
    background: rgba(0,0,0,0.60);
    top: inherit;
    right: inherit;
    transform: translate(0,-3px);
    display: none;
  }
  .btnBgBlack svg {
    position: relative;
    top: -2px;
  }
  .img_alignn:hover button{
    display: block;
  }

  .img_upload {
    position: absolute;
    overflow: hidden;
  }
  .innerBorder {
    /* border: 1.5px dashed var(--colorRed); */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
  }