.pro_border {
    border: 3px solid var(--color_black);
    padding: 15px;
    background: #fff;
}

@media screen and (min-width:1199px) {
    .pro_border {
        position: absolute;
        left: 30px;
        top: -90px;
    } 
    .iuiu{
        padding-top: 20px;
    }
}