@media only screen and (min-width: 1200px) {
    .left_top {
        position: absolute;
        top: 0px;
        left: -60px;
    }
}

@media only screen and (max-width: 1200px) {
    .left_top {
        display: none;
    }
}
.services{
    background-repeat: no-repeat;
    background-size: cover;
}